.login-from {
  width: 50%;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
}
.login-from input {
  margin-top: 10px;
  font-size: 1.4em;
  padding: 10px 20px;
}

.login-from input[type="button"] {
  background-color: yellowgreen;
  color: black;
  border-radius: 5px;
  font-weight: 700;
}
.login-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
